<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://telegram.org/js/telegram-web-app.js?59"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <button onclick="sendAuth()">Click</button>
    <div id="tg_body"></div>
    <script>
      function sendAuth() {
        let authData = decodeURI(window.Telegram.WebApp.initData);
        let authDataArray = authData.split('&');

        document.querySelector('#tg_body').innerHTML = authDataArray[1];
        // fetch('auth', {
        //   method: 'POST',
        //   body: authData.toString()
        // })
      }
    </script>
  </body>
</html>